In [1]:
import numpy as np
import pandas as pd

In [2]:
file = r'C:\Users\Joel\Dropbox\Institute of Data\IOD Class Work\capstone\data\Option 2 - Police Force Strength\use_of_force.csv'
data = pd.read_csv(file)
data.head()

C:\Users\Joel\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,138,178,218) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,IncidentDate,IncidentTime,Incident Location: Street/Highway,Incident Location: Public Transport,Incident Location: Retail Premises,"Incident Location: Open ground (e.g. park, car park, field)",Incident Location: Licensed Premises,Incident Location: Sports or Event Stadia,Incident Location: Hospital/A&E (non-mental-health setting),Incident Location: Mental Health Setting,...,SubjectInjured,SubjectNatureOfInjury,SubjectMedOffered,SubjectMedProvided,Outcome: Made off/escaped,Outcome: Arrested,Outcome: Hospitalised,Outcome: Detained - Mental Health Act,Outcome: Fatality,Outcome: Other
0,2020-04-01,00:12:00,Yes,No,No,No,No,No,No,No,...,No,NaN,NaN,NaN,No,Yes,No,No,No,No
1,2020-04-01,01:30:00,Yes,No,No,No,No,No,No,No,...,No,NaN,NaN,NaN,No,Yes,No,No,No,Yes
2,2020-04-01,03:30:00,No,No,No,No,No,No,No,No,...,No,NaN,NaN,NaN,No,Yes,No,No,No,No
3,2020-04-01,04:25:00,No,No,No,No,No,No,No,No,...,No,NaN,NaN,NaN,No,No,No,No,No,Yes
4,2020-04-01,04:12:00,No,No,No,No,No,No,No,No,...,No,NaN,NaN,NaN,No,Yes,No,No,No,No

In [3]:
# list columns
for i in data.columns:
    print(i)

IncidentDate
IncidentTime
Incident Location: Street/Highway
Incident Location: Public Transport
Incident Location: Retail Premises
Incident Location: Open ground (e.g. park, car park, field)
Incident Location: Licensed Premises
Incident Location: Sports or Event Stadia
Incident Location: Hospital/A&E (non-mental-health setting)
Incident Location: Mental Health Setting
Incident Location: Police vehicle with prisoner handling cage
Incident Location: Police vehicle without prisoner handling cage
Incident Location: Dwelling
Incident Location: Police station (excluding custody block)
Incident Location: Custody Block
Incident Location: Ambulance
Incident Location: Other
Borough
PrimaryConduct
AssaultedBySubject
ThreatenedWithWeapon
AssaultedWithWeapon
Impact Factor: Possesion of a weapon
Impact Factor: Alcohol
Impact Factor: Drugs
Impact Factor: Mental Health
Impact Factor: Prior Knowledge
Impact Factor: Size/Gender/Build
Impact Factor: Acute Behavioural Disorder
Impact Factor: Crowd
Impact Factor: Other
Reason for Force: Protect self
Reason for Force: Protect Public
Reason for Force: Protect Subject
Reason for Force: Protect Other Officers
Reason for Force: Prevent Offence
Reason for Force: Secure Evidence
Reason for Force: Effect Search
Reason for Force: Effect Arrest
Reason for Force: Method of Entry
Reason for Force: Remove Handcuffs
Reason for Force: Prevent Harm
Reason for Force: Prevent Escape
Reason for Force: Other
MainDuty
SingleCrewed
TrainedCED
CarryingCED
Tactic 1
Effective 1
Tactic 2
Effective 2
Tactic 3
Effective 3
Tactic 4
Effective 4
Tactic 5
Effective 5
Tactic 6
Effective 6
Tactic 7
Effective 7
Tactic 8
Effective 8
Tactic 9
Effective 9
Tactic 10
Effective 10
Tactic 11
Effective 11
Tactic 12
Effective 12
Tactic 13
Effective 13
Tactic 14
Effective 14
Tactic 15
Effective 15
Tactic 16
Effective 16
Tactic 17
Effective 17
Tactic 18
Effective 18
Tactic 19
Effective 19
Tactic 20
Tactic Effective 20
CED Used
CED Device Serial No
CED Drawn
CED Aimed
CED Arced
CED Red-Dotted
CED Drive Stun
CED Drive Stun Repeat Application
CED Angle Drive Stun
CED Fired
CED Fired Cartridge Number
CED Fired 5 Secs Cycle Interrupted
CED Fired Repeat Cycle Same Cartridge
CED Fired Total Number Of Cycles
CED Fired Cycle Extended Beyond 5 Secs
CED Fired Miss With One Probe
CED Fired Miss With Both Probes
CED Front 1
CED Front 2
CED Front 3
CED Front 4
CED Front 5
CED Front 6
CED Front 7
CED Front 8
CED Front 9
CED Front 10
CED Front 11
CED Front 12
CED Front 13
CED Front 14
CED Front 15
CED Back A
CED Back B
CED Back C
CED Back D
CED Back E
CED Back F
CED Back G
CED Back H
CED Back J
CED Back K
CED2 Drawn
CED2 Aimed
CED2 ArCED2
CED2 Red-Dotted
CED2 Drive Stun
CED2 Drive Stun Repeat Application
CED2 Angle Drive Stun
CED2 Fired
CED2 Fired Cartridge Number
CED2 Fired 5 Secs Cycle Interrupted
CED2 Fired Repeat Cycle Same Cartridge
CED2 Fired Total Number Of Cycles
CED2 Fired Cycle Extended Beyond 5 Secs
CED2 Fired Miss With One Probe
CED2 Fired Miss With Both Probes
CED2 Front 1
CED2 Front 2
CED2 Front 3
CED2 Front 4
CED2 Front 5
CED2 Front 6
CED2 Front 7
CED2 Front 8
CED2 Front 9
CED2 Front 10
CED2 Front 11
CED2 Front 12
CED2 Front 13
CED2 Front 14
CED2 Front 15
CED2 Back A
CED2 Back B
CED2 Back C
CED2 Back D
CED2 Back E
CED2 Back F
CED2 Back G
CED2 Back H
CED2 Back J
CED2 Back K
CED3 Drawn
CED3 Aimed
CED3 ArCED3
CED3 Red-Dotted
CED3 Drive Stun
CED3 Drive Stun Repeat Application
CED3 Angle Drive Stun
CED3 Fired
CED3 Fired Cartridge Number
CED3 Fired 5 Secs Cycle Interrupted
CED3 Fired Repeat Cycle Same Cartridge
CED3 Fired Total Number Of Cycles
CED3 Fired Cycle Extended Beyond 5 Secs
CED3 Fired Miss With One Probe
CED3 Fired Miss With Both Probes
CED3 Front 1
CED3 Front 2
CED3 Front 3
CED3 Front 4
CED3 Front 5
CED3 Front 6
CED3 Front 7
CED3 Front 8
CED3 Front 9
CED3 Front 10
CED3 Front 11
CED3 Front 12
CED3 Front 13
CED3 Front 14
CED3 Front 15
CED3 Back A
CED3 Back B
CED3 Back C
CED3 Back D
CED3 Back E
CED3 Back F
CED3 Back G
CED3 Back H
CED3 Back J
CED3 Back K
CED4 Drawn
CED4 Aimed
CED4 ArCED4
CED4 Red-Dotted
CED4 Drive Stun
CED4 Drive Stun Repeat Application
CED4 Angle Drive Stun
CED4 Fired
CED4 Fired Cartridge Number
CED4 Fired 5 Secs Cycle Interrupted
CED4 Fired Repeat Cycle Same Cartridge
CED4 Fired Total Number Of Cycles
CED4 Fired Cycle Extended Beyond 5 Secs
CED4 Fired Miss With One Probe
CED4 Fired Miss With Both Probes
CED4 Front 1
CED4 Front 2
CED4 Front 3
CED4 Front 4
CED4 Front 5
CED4 Front 6
CED4 Front 7
CED4 Front 8
CED4 Front 9
CED4 Front 10
CED4 Front 11
CED4 Front 12
CED4 Front 13
CED4 Front 14
CED4 Front 15
CED4 Back A
CED4 Back B
CED4 Back C
CED4 Back D
CED4 Back E
CED4 Back F
CED4 Back G
CED4 Back H
CED4 Back J
CED4 Back K
Firearms Aimed
Firearms Fired
SubjectAge
SubjectGender
SubjectEthnicity
PhysicalDisability
MentalDisability
StaffInjured
StaffInjuryIntentional
StaffInjuryLevel
StaffMedProvided
SubjectInjured
SubjectNatureOfInjury
SubjectMedOffered
SubjectMedProvided
Outcome: Made off/escaped
Outcome: Arrested
Outcome: Hospitalised
Outcome: Detained - Mental Health Act
Outcome: Fatality
Outcome: Other

# Change Primary Conduct to Level Of Force Levels
Must class resistance levels / agression levels.
- 0 = Compliant
- 1 = Verbal resistance / gestures
- 2 = Passive resistance
- 3 = Active resistance
- 4 = Aggressive resistance
- 5 = Serious or Aggravated resistance

In [4]:
classes = {
    'Compliant': 0,
    'Verbal resistance/gestures': 1,
    'Passive resistance': 2,
    'Active resistance': 3,
    'Aggressive resistance': 4,
    'Serious or aggravated resistance': 5
}

data['PrimaryConduct'] = data['PrimaryConduct'].map(classes)

# Numerate Levels of Force

In [6]:
data['Tactic 1'].value_counts()

Compliant handcuffing                                                             66923
Tactical communications                                                           35797
Non-compliant handcuffing                                                         16415
Unarmed skills (including pressure points, strikes, restraints and take-downs)    11516
Ground restraint                                                                   4593
CED (Taser) red-dotted                                                             2712
Limb/body restraints                                                               2511
Other/improvised                                                                   1973
CED (Taser) drawn                                                                  1382
Firearm aimed                                                                      1131
CED (Taser) aimed                                                                   584
Baton drawn                                                                         564
CED (Taser) fired                                                                   403
Spit guard                                                                          389
Baton used                                                                          215
Dog deployed                                                                        212
Irritant spray - PAVA drawn                                                         124
Irritant spray - PAVA used                                                          115
Irritant spray - drawn                                                               81
Irritant spray - used                                                                70
Dog bite                                                                             64
Shield                                                                               62
CED (Taser) arced                                                                    15
AEP aimed                                                                            13
Firearm fired                                                                         8
CED (Taser) drive stun                                                                8
Irritant spray - CS drawn                                                             6
Irritant spray - CS used                                                              5
AEP fired                                                                             2
CED (Taser) angle drive stun                                                          2
Name: Tactic 1, dtype: int64

Anything other than...
- Tactial communications
- Compliant Handcuffing 
.. is use of force

In [7]:
data['Tactic 2'].fillna('finished', inplace = True)
data['Tactic 3'].fillna('finished', inplace = True)
data['T1 Force'] = [0 if x == 'Compliant handcuffing' else 0 if x == 'Tactical communications' else 1 for x in data['Tactic 1']]
data['T2 Force'] = [0 if x == 'Compliant handcuffing' else 0 if x == 'Tactical communications' else 0 if x == 'finished' else 1 for x in data['Tactic 2']]
data['T3 Force'] = [0 if x == 'Compliant handcuffing' else 0 if x == 'Tactical communications' else 0 if x == 'finished' else 1 for x in data['Tactic 3']]
tactics = pd.DataFrame([data['T1 Force'], data['T2 Force'], data['T3 Force']]).T
tactics['Was Force Needed?'] = tactics.sum(axis = 1)
tactics['Was Force Needed?'] = [1 if x >= 1 else 0 for x in tactics['Was Force Needed?']]
tactics.head()

   T1 Force  T2 Force  T3 Force  Was Force Needed?
0         0         0         0                  0
1         1         0         0                  1
2         1         0         0                  1
3         1         0         0                  1
4         1         0         1                  1

In [8]:
data['Was Force Needed?'] = tactics['Was Force Needed?']
data['Was Force Needed?'].head()

0    0
1    1
2    1
3    1
4    1
Name: Was Force Needed?, dtype: int64

# Change Impact Factors to 1's or 0's

In [12]:
cols = ['Impact Factor: Possesion of a weapon', 
                'Impact Factor: Alcohol',
                'Impact Factor: Drugs',
                'Impact Factor: Mental Health',
                'Impact Factor: Prior Knowledge',
                'Impact Factor: Size/Gender/Build',
                'Impact Factor: Acute Behavioural Disorder',
                'Impact Factor: Crowd',
                'Impact Factor: Other']
for i in cols:
    data[i] = data[i].map({'Yes': 1, 'No': 0})

# Change Incident Locations to 0 or 1

In [17]:
cols = ['Incident Location: Street/Highway',
        'Incident Location: Public Transport',
        'Incident Location: Retail Premises',
        'Incident Location: Open ground (e.g. park, car park, field)',
        'Incident Location: Licensed Premises',
        'Incident Location: Sports or Event Stadia',
        'Incident Location: Hospital/A&E (non-mental-health setting)',
        'Incident Location: Mental Health Setting',
        'Incident Location: Police vehicle with prisoner handling cage',
        'Incident Location: Police vehicle without prisoner handling cage',
        'Incident Location: Dwelling',
        'Incident Location: Police station (excluding custody block)',
        'Incident Location: Custody Block',
        'Incident Location: Ambulance',
        'Incident Location: Other']
for i in cols:
    data[i] = data[i].map({'Yes': 1, 'No': 0})

# Change Reason for Force to 0 or 1

In [19]:
cols = ['Reason for Force: Protect self',
                'Reason for Force: Protect Public',
                'Reason for Force: Protect Subject',
                'Reason for Force: Protect Other Officers',
                'Reason for Force: Prevent Offence',
                'Reason for Force: Secure Evidence',
                'Reason for Force: Effect Search',
                'Reason for Force: Effect Arrest',
                'Reason for Force: Method of Entry',
                'Reason for Force: Remove Handcuffs',
                'Reason for Force: Prevent Harm', 
                'Reason for Force: Prevent Escape',
                'Reason for Force: Other']
for i in cols:
    data[i] = data[i].map({'Yes': 1, 'No': 0})

In [21]:
data.head()

,IncidentDate,IncidentTime,Incident Location: Street/Highway,Incident Location: Public Transport,Incident Location: Retail Premises,"Incident Location: Open ground (e.g. park, car park, field)",Incident Location: Licensed Premises,Incident Location: Sports or Event Stadia,Incident Location: Hospital/A&E (non-mental-health setting),Incident Location: Mental Health Setting,...,Outcome: Made off/escaped,Outcome: Arrested,Outcome: Hospitalised,Outcome: Detained - Mental Health Act,Outcome: Fatality,Outcome: Other,T1 Force,T2 Force,T3 Force,Was Force Needed?
0,2020-04-01,00:12:00,1,0,0,0,0,0,0,0,...,No,Yes,No,No,No,No,0,0,0,0
1,2020-04-01,01:30:00,1,0,0,0,0,0,0,0,...,No,Yes,No,No,No,Yes,1,0,0,1
2,2020-04-01,03:30:00,0,0,0,0,0,0,0,0,...,No,Yes,No,No,No,No,1,0,0,1
3,2020-04-01,04:25:00,0,0,0,0,0,0,0,0,...,No,No,No,No,No,Yes,1,0,0,1
4,2020-04-01,04:12:00,0,0,0,0,0,0,0,0,...,No,Yes,No,No,No,No,1,0,1,1

# Change AssaultedBySubject to 0 or 1

In [22]:
print(data['AssaultedBySubject'].value_counts())

No     142968
Yes      4927
Name: AssaultedBySubject, dtype: int64

In [23]:
data['AssaultedBySubject'] = data['AssaultedBySubject'].map({'Yes': 1, 'No': 0})

In [24]:
print(data['AssaultedBySubject'].value_counts())

0    142968
1      4927
Name: AssaultedBySubject, dtype: int64

# Change Single Crewed and TrainedCED to 0 or 1

In [25]:
cols = ['SingleCrewed', 'TrainedCED']
for i in cols:
    print(data[i].value_counts())

No     144508
Yes      3387
Name: SingleCrewed, dtype: int64
No     91445
Yes    56450
Name: TrainedCED, dtype: int64

In [26]:
for i in cols:
    data[i] = data[i].map({'Yes': 1, 'No': 0})

In [27]:
cols = ['SingleCrewed', 'TrainedCED']
for i in cols:
    print(data[i].value_counts())

0    144508
1      3387
Name: SingleCrewed, dtype: int64
0    91445
1    56450
Name: TrainedCED, dtype: int64

# Create dummy variables for MainDuty

In [28]:
print(data['MainDuty'].value_counts())

Mobile patrol             112431
Foot patrol                 8736
Other                       7214
Custody                     5741
ARV                         3690
Roads policing              3443
PSU/Public order            3339
CID                         1568
Dog handler duty             523
CTSFO                        379
Off duty                     341
AFO                          322
Surveillance                 144
Mounted section duties        24
Name: MainDuty, dtype: int64

In [29]:
dummy = pd.get_dummies(data['MainDuty'])
dummy.head()

,AFO,ARV,CID,CTSFO,Custody,Dog handler duty,Foot patrol,Mobile patrol,Mounted section duties,Off duty,Other,PSU/Public order,Roads policing,Surveillance
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [30]:
data = pd.concat([data, dummy], axis = 1)
data

,IncidentDate,IncidentTime,Incident Location: Street/Highway,Incident Location: Public Transport,Incident Location: Retail Premises,"Incident Location: Open ground (e.g. park, car park, field)",Incident Location: Licensed Premises,Incident Location: Sports or Event Stadia,Incident Location: Hospital/A&E (non-mental-health setting),Incident Location: Mental Health Setting,...,Custody,Dog handler duty,Foot patrol,Mobile patrol,Mounted section duties,Off duty,Other,PSU/Public order,Roads policing,Surveillance
0,2020-04-01,00:12:00,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2020-04-01,01:30:00,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2020-04-01,03:30:00,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2020-04-01,04:25:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,2020-04-01,04:12:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,2021-01-31,18:00:00,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
147891,2021-01-31,15:20:00,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
147892,2021-01-31,22:00:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
147893,2021-01-31,19:48:00,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
147894,2021-01-31,19:20:00,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

# Clean Subject Columns

# Make test df to not alter original

In [59]:
# Check data
cols = ['SubjectAge',
       'SubjectGender',
       'SubjectEthnicity',
        'PhysicalDisability',
        'MentalDisability']
test = data[cols]
test.head()

,SubjectAge,SubjectGender,SubjectEthnicity,PhysicalDisability,MentalDisability
0,18-34,Male,White,No,No
1,11-17,Female,White,No,No
2,35-49,Female,White,No,No
3,18-34,Male,White,No,No
4,18-34,Female,White,No,No

# SubjectAge

In [60]:
test['SubjectAge'].value_counts()

18-34          84545
35-49          35886
11-17          16094
50-64          10401
65 and over      923
0-10              46
Name: SubjectAge, dtype: int64

6 levels of age ranges:
Change varaibles to numbers representing ranges.

- 1 = 1-10
- 2 = 11-17
- 3 = 18-34
- 4 = 35-49
- 5 = 50-64
- 6 = 65+

In [64]:
d = {
    '1-10' : int(1),
    '11-17' : int(2),
    '18-34' : int(3),
    '35-49' : int(4),
    '50-64' : int(5),
    '65 and over': int(6)
}
test['SubjectAge'] = test['SubjectAge'].map(d)

<ipython-input-64-456bd2cfa63f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['SubjectAge'] = test['SubjectAge'].map(d)

In [65]:
test.head()

,SubjectAge,SubjectGender,SubjectEthnicity,PhysicalDisability,MentalDisability
0,3.0,Male,White,No,No
1,2.0,Female,White,No,No
2,4.0,Female,White,No,No
3,3.0,Male,White,No,No
4,3.0,Female,White,No,No

# Gender dummy variables

In [70]:
dummy = pd.get_dummies(data['SubjectGender'])
dummy.rename(columns = {'Female':'SubjectGender: Female',
                       'Male': 'SubjectGender: Male',
                       'Other':'SubjectGender: Other'}, inplace= True)
test = pd.concat([test, dummy], axis = 1)
test

,SubjectAge,SubjectGender,SubjectEthnicity,PhysicalDisability,MentalDisability,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other
0,3.0,Male,White,No,No,0,1,0
1,2.0,Female,White,No,No,1,0,0
2,4.0,Female,White,No,No,1,0,0
3,3.0,Male,White,No,No,0,1,0
4,3.0,Female,White,No,No,1,0,0
...,...,...,...,...,...,...,...,...
147890,3.0,Male,Black (or Black British),No,Yes,0,1,0
147891,3.0,Male,White,No,No,0,1,0
147892,4.0,Male,White,No,Yes,0,1,0
147893,3.0,Male,Black (or Black British),No,No,0,1,0
147894,3.0,Male,White,No,No,0,1,0

In [72]:
# Drop subject gender
test.drop(columns = ['SubjectGender'], inplace = True)
test

,SubjectAge,SubjectEthnicity,PhysicalDisability,MentalDisability,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other
0,3.0,White,No,No,0,1,0
1,2.0,White,No,No,1,0,0
2,4.0,White,No,No,1,0,0
3,3.0,White,No,No,0,1,0
4,3.0,White,No,No,1,0,0
...,...,...,...,...,...,...,...
147890,3.0,Black (or Black British),No,Yes,0,1,0
147891,3.0,White,No,No,0,1,0
147892,4.0,White,No,Yes,0,1,0
147893,3.0,Black (or Black British),No,No,0,1,0
147894,3.0,White,No,No,0,1,0

# Subject Ethnicity Dummy Variables

In [76]:
dummy = pd.get_dummies(data['SubjectEthnicity'])
dummy.rename(columns = {'Asian (or Asian British)':'SubjectEthnicity: Asian',
                       'Black (or Black British)':'SubjectEthnicity: Black',
                       'Chinese':'SubjectEthnicity: Chinese',
                       "Don't know": 'SubjectEthnicity: Unknown',
                       'Mixed': 'SubjectEthnicity: Mixed',
                       'Other': 'SubjectEthnicity: Other',
                       'White': 'SubjectEthnicity: White'}, inplace= True)
test = pd.concat([test, dummy], axis = 1)
test

,SubjectAge,SubjectEthnicity,PhysicalDisability,MentalDisability,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White
0,3.0,White,No,No,0,1,0,0,0,0,0,0,0,1
1,2.0,White,No,No,1,0,0,0,0,0,0,0,0,1
2,4.0,White,No,No,1,0,0,0,0,0,0,0,0,1
3,3.0,White,No,No,0,1,0,0,0,0,0,0,0,1
4,3.0,White,No,No,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,3.0,Black (or Black British),No,Yes,0,1,0,0,1,0,0,0,0,0
147891,3.0,White,No,No,0,1,0,0,0,0,0,0,0,1
147892,4.0,White,No,Yes,0,1,0,0,0,0,0,0,0,1
147893,3.0,Black (or Black British),No,No,0,1,0,0,1,0,0,0,0,0
147894,3.0,White,No,No,0,1,0,0,0,0,0,0,0,1

# Subject Physical Disability change to 0 or 1

In [77]:
test['PhysicalDisability'].value_counts()

No     146244
Yes      1651
Name: PhysicalDisability, dtype: int64

In [78]:
test['PhysicalDisability'] = test['PhysicalDisability'].map({'Yes': 1, 'No': 0})
test['PhysicalDisability']

0         0
1         0
2         0
3         0
4         0
         ..
147890    0
147891    0
147892    0
147893    0
147894    0
Name: PhysicalDisability, Length: 147895, dtype: int64

In [79]:
test['PhysicalDisability'].value_counts()

0    146244
1      1651
Name: PhysicalDisability, dtype: int64

# Subject Mental Disability to 0 or 1

In [81]:
test['MentalDisability'].value_counts()

No     126762
Yes     21133
Name: MentalDisability, dtype: int64

In [84]:
test['MentalDisability'] = test['MentalDisability'].map({'Yes': 1, 'No': 0})

In [85]:
test['MentalDisability'].value_counts()

0    126762
1     21133
Name: MentalDisability, dtype: int64

In [86]:
test

,SubjectAge,SubjectEthnicity,PhysicalDisability,MentalDisability,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White,MentalDistability
0,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1,0
1,2.0,White,0,0,1,0,0,0,0,0,0,0,0,1,0
2,4.0,White,0,0,1,0,0,0,0,0,0,0,0,1,0
3,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1,0
4,3.0,White,0,0,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,3.0,Black (or Black British),0,1,0,1,0,0,1,0,0,0,0,0,1
147891,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1,0
147892,4.0,White,0,1,0,1,0,0,0,0,0,0,0,1,1
147893,3.0,Black (or Black British),0,0,0,1,0,0,1,0,0,0,0,0,0
147894,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1,0

In [87]:
test.drop(columns = ['MentalDistability'], inplace = True)
test

,SubjectAge,SubjectEthnicity,PhysicalDisability,MentalDisability,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White
0,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1
1,2.0,White,0,0,1,0,0,0,0,0,0,0,0,1
2,4.0,White,0,0,1,0,0,0,0,0,0,0,0,1
3,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1
4,3.0,White,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,3.0,Black (or Black British),0,1,0,1,0,0,1,0,0,0,0,0
147891,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1
147892,4.0,White,0,1,0,1,0,0,0,0,0,0,0,1
147893,3.0,Black (or Black British),0,0,0,1,0,0,1,0,0,0,0,0
147894,3.0,White,0,0,0,1,0,0,0,0,0,0,0,1

In [88]:
test.drop(columns = ['SubjectEthnicity'], inplace = True)
test

,SubjectAge,PhysicalDisability,MentalDisability,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White
0,3.0,0,0,0,1,0,0,0,0,0,0,0,1
1,2.0,0,0,1,0,0,0,0,0,0,0,0,1
2,4.0,0,0,1,0,0,0,0,0,0,0,0,1
3,3.0,0,0,0,1,0,0,0,0,0,0,0,1
4,3.0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,3.0,0,1,0,1,0,0,1,0,0,0,0,0
147891,3.0,0,0,0,1,0,0,0,0,0,0,0,1
147892,4.0,0,1,0,1,0,0,0,0,0,0,0,1
147893,3.0,0,0,0,1,0,0,1,0,0,0,0,0
147894,3.0,0,0,0,1,0,0,0,0,0,0,0,1

# Merge to data frame

In [89]:
for i in test.columns:
    print(i)

SubjectAge
PhysicalDisability
MentalDisability
SubjectGender: Female
SubjectGender: Male
SubjectGender: Other
SubjectEthnicity: Asian
SubjectEthnicity: Black
SubjectEthnicity: Chinese
SubjectEthnicity: Unknown
SubjectEthnicity: Mixed
SubjectEthnicity: Other
SubjectEthnicity: White

In [90]:
data['SubjectAge'] = test['SubjectAge']

In [92]:
data['PhysicalDisability'] = test['PhysicalDisability']

In [94]:
data['MentalDisability'] = test['MentalDisability']

In [96]:
test.drop(columns = ['SubjectAge', 'PhysicalDisability', 'MentalDisability'], inplace = True)

In [97]:
test

,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White
0,0,1,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
147890,0,1,0,0,1,0,0,0,0,0
147891,0,1,0,0,0,0,0,0,0,1
147892,0,1,0,0,0,0,0,0,0,1
147893,0,1,0,0,1,0,0,0,0,0
147894,0,1,0,0,0,0,0,0,0,1

In [98]:
data = pd.concat([data, test], axis = 1)

In [101]:
for i in data.columns:
    print(i)

IncidentDate
IncidentTime
Incident Location: Street/Highway
Incident Location: Public Transport
Incident Location: Retail Premises
Incident Location: Open ground (e.g. park, car park, field)
Incident Location: Licensed Premises
Incident Location: Sports or Event Stadia
Incident Location: Hospital/A&E (non-mental-health setting)
Incident Location: Mental Health Setting
Incident Location: Police vehicle with prisoner handling cage
Incident Location: Police vehicle without prisoner handling cage
Incident Location: Dwelling
Incident Location: Police station (excluding custody block)
Incident Location: Custody Block
Incident Location: Ambulance
Incident Location: Other
Borough
PrimaryConduct
AssaultedBySubject
ThreatenedWithWeapon
AssaultedWithWeapon
Impact Factor: Possesion of a weapon
Impact Factor: Alcohol
Impact Factor: Drugs
Impact Factor: Mental Health
Impact Factor: Prior Knowledge
Impact Factor: Size/Gender/Build
Impact Factor: Acute Behavioural Disorder
Impact Factor: Crowd
Impact Factor: Other
Reason for Force: Protect self
Reason for Force: Protect Public
Reason for Force: Protect Subject
Reason for Force: Protect Other Officers
Reason for Force: Prevent Offence
Reason for Force: Secure Evidence
Reason for Force: Effect Search
Reason for Force: Effect Arrest
Reason for Force: Method of Entry
Reason for Force: Remove Handcuffs
Reason for Force: Prevent Harm
Reason for Force: Prevent Escape
Reason for Force: Other
MainDuty
SingleCrewed
TrainedCED
CarryingCED
Tactic 1
Effective 1
Tactic 2
Effective 2
Tactic 3
Effective 3
Tactic 4
Effective 4
Tactic 5
Effective 5
Tactic 6
Effective 6
Tactic 7
Effective 7
Tactic 8
Effective 8
Tactic 9
Effective 9
Tactic 10
Effective 10
Tactic 11
Effective 11
Tactic 12
Effective 12
Tactic 13
Effective 13
Tactic 14
Effective 14
Tactic 15
Effective 15
Tactic 16
Effective 16
Tactic 17
Effective 17
Tactic 18
Effective 18
Tactic 19
Effective 19
Tactic 20
Tactic Effective 20
CED Used
CED Device Serial No
CED Drawn
CED Aimed
CED Arced
CED Red-Dotted
CED Drive Stun
CED Drive Stun Repeat Application
CED Angle Drive Stun
CED Fired
CED Fired Cartridge Number
CED Fired 5 Secs Cycle Interrupted
CED Fired Repeat Cycle Same Cartridge
CED Fired Total Number Of Cycles
CED Fired Cycle Extended Beyond 5 Secs
CED Fired Miss With One Probe
CED Fired Miss With Both Probes
CED Front 1
CED Front 2
CED Front 3
CED Front 4
CED Front 5
CED Front 6
CED Front 7
CED Front 8
CED Front 9
CED Front 10
CED Front 11
CED Front 12
CED Front 13
CED Front 14
CED Front 15
CED Back A
CED Back B
CED Back C
CED Back D
CED Back E
CED Back F
CED Back G
CED Back H
CED Back J
CED Back K
CED2 Drawn
CED2 Aimed
CED2 ArCED2
CED2 Red-Dotted
CED2 Drive Stun
CED2 Drive Stun Repeat Application
CED2 Angle Drive Stun
CED2 Fired
CED2 Fired Cartridge Number
CED2 Fired 5 Secs Cycle Interrupted
CED2 Fired Repeat Cycle Same Cartridge
CED2 Fired Total Number Of Cycles
CED2 Fired Cycle Extended Beyond 5 Secs
CED2 Fired Miss With One Probe
CED2 Fired Miss With Both Probes
CED2 Front 1
CED2 Front 2
CED2 Front 3
CED2 Front 4
CED2 Front 5
CED2 Front 6
CED2 Front 7
CED2 Front 8
CED2 Front 9
CED2 Front 10
CED2 Front 11
CED2 Front 12
CED2 Front 13
CED2 Front 14
CED2 Front 15
CED2 Back A
CED2 Back B
CED2 Back C
CED2 Back D
CED2 Back E
CED2 Back F
CED2 Back G
CED2 Back H
CED2 Back J
CED2 Back K
CED3 Drawn
CED3 Aimed
CED3 ArCED3
CED3 Red-Dotted
CED3 Drive Stun
CED3 Drive Stun Repeat Application
CED3 Angle Drive Stun
CED3 Fired
CED3 Fired Cartridge Number
CED3 Fired 5 Secs Cycle Interrupted
CED3 Fired Repeat Cycle Same Cartridge
CED3 Fired Total Number Of Cycles
CED3 Fired Cycle Extended Beyond 5 Secs
CED3 Fired Miss With One Probe
CED3 Fired Miss With Both Probes
CED3 Front 1
CED3 Front 2
CED3 Front 3
CED3 Front 4
CED3 Front 5
CED3 Front 6
CED3 Front 7
CED3 Front 8
CED3 Front 9
CED3 Front 10
CED3 Front 11
CED3 Front 12
CED3 Front 13
CED3 Front 14
CED3 Front 15
CED3 Back A
CED3 Back B
CED3 Back C
CED3 Back D
CED3 Back E
CED3 Back F
CED3 Back G
CED3 Back H
CED3 Back J
CED3 Back K
CED4 Drawn
CED4 Aimed
CED4 ArCED4
CED4 Red-Dotted
CED4 Drive Stun
CED4 Drive Stun Repeat Application
CED4 Angle Drive Stun
CED4 Fired
CED4 Fired Cartridge Number
CED4 Fired 5 Secs Cycle Interrupted
CED4 Fired Repeat Cycle Same Cartridge
CED4 Fired Total Number Of Cycles
CED4 Fired Cycle Extended Beyond 5 Secs
CED4 Fired Miss With One Probe
CED4 Fired Miss With Both Probes
CED4 Front 1
CED4 Front 2
CED4 Front 3
CED4 Front 4
CED4 Front 5
CED4 Front 6
CED4 Front 7
CED4 Front 8
CED4 Front 9
CED4 Front 10
CED4 Front 11
CED4 Front 12
CED4 Front 13
CED4 Front 14
CED4 Front 15
CED4 Back A
CED4 Back B
CED4 Back C
CED4 Back D
CED4 Back E
CED4 Back F
CED4 Back G
CED4 Back H
CED4 Back J
CED4 Back K
Firearms Aimed
Firearms Fired
SubjectAge
SubjectGender
SubjectEthnicity
PhysicalDisability
MentalDisability
StaffInjured
StaffInjuryIntentional
StaffInjuryLevel
StaffMedProvided
SubjectInjured
SubjectNatureOfInjury
SubjectMedOffered
SubjectMedProvided
Outcome: Made off/escaped
Outcome: Arrested
Outcome: Hospitalised
Outcome: Detained - Mental Health Act
Outcome: Fatality
Outcome: Other
T1 Force
T2 Force
T3 Force
Was Force Needed?
AFO
ARV
CID
CTSFO
Custody
Dog handler duty
Foot patrol
Mobile patrol
Mounted section duties
Off duty
Other
PSU/Public order
Roads policing
Surveillance
SubjectGender: Female
SubjectGender: Male
SubjectGender: Other
SubjectEthnicity: Asian
SubjectEthnicity: Black
SubjectEthnicity: Chinese
SubjectEthnicity: Unknown
SubjectEthnicity: Mixed
SubjectEthnicity: Other
SubjectEthnicity: White

In [102]:
data.drop(columns = ['SubjectGender', 'SubjectEthnicity'], inplace = True)

In [103]:
for i in data.columns:
    print(i)

IncidentDate
IncidentTime
Incident Location: Street/Highway
Incident Location: Public Transport
Incident Location: Retail Premises
Incident Location: Open ground (e.g. park, car park, field)
Incident Location: Licensed Premises
Incident Location: Sports or Event Stadia
Incident Location: Hospital/A&E (non-mental-health setting)
Incident Location: Mental Health Setting
Incident Location: Police vehicle with prisoner handling cage
Incident Location: Police vehicle without prisoner handling cage
Incident Location: Dwelling
Incident Location: Police station (excluding custody block)
Incident Location: Custody Block
Incident Location: Ambulance
Incident Location: Other
Borough
PrimaryConduct
AssaultedBySubject
ThreatenedWithWeapon
AssaultedWithWeapon
Impact Factor: Possesion of a weapon
Impact Factor: Alcohol
Impact Factor: Drugs
Impact Factor: Mental Health
Impact Factor: Prior Knowledge
Impact Factor: Size/Gender/Build
Impact Factor: Acute Behavioural Disorder
Impact Factor: Crowd
Impact Factor: Other
Reason for Force: Protect self
Reason for Force: Protect Public
Reason for Force: Protect Subject
Reason for Force: Protect Other Officers
Reason for Force: Prevent Offence
Reason for Force: Secure Evidence
Reason for Force: Effect Search
Reason for Force: Effect Arrest
Reason for Force: Method of Entry
Reason for Force: Remove Handcuffs
Reason for Force: Prevent Harm
Reason for Force: Prevent Escape
Reason for Force: Other
MainDuty
SingleCrewed
TrainedCED
CarryingCED
Tactic 1
Effective 1
Tactic 2
Effective 2
Tactic 3
Effective 3
Tactic 4
Effective 4
Tactic 5
Effective 5
Tactic 6
Effective 6
Tactic 7
Effective 7
Tactic 8
Effective 8
Tactic 9
Effective 9
Tactic 10
Effective 10
Tactic 11
Effective 11
Tactic 12
Effective 12
Tactic 13
Effective 13
Tactic 14
Effective 14
Tactic 15
Effective 15
Tactic 16
Effective 16
Tactic 17
Effective 17
Tactic 18
Effective 18
Tactic 19
Effective 19
Tactic 20
Tactic Effective 20
CED Used
CED Device Serial No
CED Drawn
CED Aimed
CED Arced
CED Red-Dotted
CED Drive Stun
CED Drive Stun Repeat Application
CED Angle Drive Stun
CED Fired
CED Fired Cartridge Number
CED Fired 5 Secs Cycle Interrupted
CED Fired Repeat Cycle Same Cartridge
CED Fired Total Number Of Cycles
CED Fired Cycle Extended Beyond 5 Secs
CED Fired Miss With One Probe
CED Fired Miss With Both Probes
CED Front 1
CED Front 2
CED Front 3
CED Front 4
CED Front 5
CED Front 6
CED Front 7
CED Front 8
CED Front 9
CED Front 10
CED Front 11
CED Front 12
CED Front 13
CED Front 14
CED Front 15
CED Back A
CED Back B
CED Back C
CED Back D
CED Back E
CED Back F
CED Back G
CED Back H
CED Back J
CED Back K
CED2 Drawn
CED2 Aimed
CED2 ArCED2
CED2 Red-Dotted
CED2 Drive Stun
CED2 Drive Stun Repeat Application
CED2 Angle Drive Stun
CED2 Fired
CED2 Fired Cartridge Number
CED2 Fired 5 Secs Cycle Interrupted
CED2 Fired Repeat Cycle Same Cartridge
CED2 Fired Total Number Of Cycles
CED2 Fired Cycle Extended Beyond 5 Secs
CED2 Fired Miss With One Probe
CED2 Fired Miss With Both Probes
CED2 Front 1
CED2 Front 2
CED2 Front 3
CED2 Front 4
CED2 Front 5
CED2 Front 6
CED2 Front 7
CED2 Front 8
CED2 Front 9
CED2 Front 10
CED2 Front 11
CED2 Front 12
CED2 Front 13
CED2 Front 14
CED2 Front 15
CED2 Back A
CED2 Back B
CED2 Back C
CED2 Back D
CED2 Back E
CED2 Back F
CED2 Back G
CED2 Back H
CED2 Back J
CED2 Back K
CED3 Drawn
CED3 Aimed
CED3 ArCED3
CED3 Red-Dotted
CED3 Drive Stun
CED3 Drive Stun Repeat Application
CED3 Angle Drive Stun
CED3 Fired
CED3 Fired Cartridge Number
CED3 Fired 5 Secs Cycle Interrupted
CED3 Fired Repeat Cycle Same Cartridge
CED3 Fired Total Number Of Cycles
CED3 Fired Cycle Extended Beyond 5 Secs
CED3 Fired Miss With One Probe
CED3 Fired Miss With Both Probes
CED3 Front 1
CED3 Front 2
CED3 Front 3
CED3 Front 4
CED3 Front 5
CED3 Front 6
CED3 Front 7
CED3 Front 8
CED3 Front 9
CED3 Front 10
CED3 Front 11
CED3 Front 12
CED3 Front 13
CED3 Front 14
CED3 Front 15
CED3 Back A
CED3 Back B
CED3 Back C
CED3 Back D
CED3 Back E
CED3 Back F
CED3 Back G
CED3 Back H
CED3 Back J
CED3 Back K
CED4 Drawn
CED4 Aimed
CED4 ArCED4
CED4 Red-Dotted
CED4 Drive Stun
CED4 Drive Stun Repeat Application
CED4 Angle Drive Stun
CED4 Fired
CED4 Fired Cartridge Number
CED4 Fired 5 Secs Cycle Interrupted
CED4 Fired Repeat Cycle Same Cartridge
CED4 Fired Total Number Of Cycles
CED4 Fired Cycle Extended Beyond 5 Secs
CED4 Fired Miss With One Probe
CED4 Fired Miss With Both Probes
CED4 Front 1
CED4 Front 2
CED4 Front 3
CED4 Front 4
CED4 Front 5
CED4 Front 6
CED4 Front 7
CED4 Front 8
CED4 Front 9
CED4 Front 10
CED4 Front 11
CED4 Front 12
CED4 Front 13
CED4 Front 14
CED4 Front 15
CED4 Back A
CED4 Back B
CED4 Back C
CED4 Back D
CED4 Back E
CED4 Back F
CED4 Back G
CED4 Back H
CED4 Back J
CED4 Back K
Firearms Aimed
Firearms Fired
SubjectAge
PhysicalDisability
MentalDisability
StaffInjured
StaffInjuryIntentional
StaffInjuryLevel
StaffMedProvided
SubjectInjured
SubjectNatureOfInjury
SubjectMedOffered
SubjectMedProvided
Outcome: Made off/escaped
Outcome: Arrested
Outcome: Hospitalised
Outcome: Detained - Mental Health Act
Outcome: Fatality
Outcome: Other
T1 Force
T2 Force
T3 Force
Was Force Needed?
AFO
ARV
CID
CTSFO
Custody
Dog handler duty
Foot patrol
Mobile patrol
Mounted section duties
Off duty
Other
PSU/Public order
Roads policing
Surveillance
SubjectGender: Female
SubjectGender: Male
SubjectGender: Other
SubjectEthnicity: Asian
SubjectEthnicity: Black
SubjectEthnicity: Chinese
SubjectEthnicity: Unknown
SubjectEthnicity: Mixed
SubjectEthnicity: Other
SubjectEthnicity: White

In [108]:
data['TrainedCED'].value_counts()

0    91445
1    56450
Name: TrainedCED, dtype: int64

In [104]:
data

,IncidentDate,IncidentTime,Incident Location: Street/Highway,Incident Location: Public Transport,Incident Location: Retail Premises,"Incident Location: Open ground (e.g. park, car park, field)",Incident Location: Licensed Premises,Incident Location: Sports or Event Stadia,Incident Location: Hospital/A&E (non-mental-health setting),Incident Location: Mental Health Setting,...,SubjectGender: Female,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White
0,2020-04-01,00:12:00,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-04-01,01:30:00,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,2020-04-01,03:30:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,2020-04-01,04:25:00,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-01,04:12:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,2021-01-31,18:00:00,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
147891,2021-01-31,15:20:00,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
147892,2021-01-31,22:00:00,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
147893,2021-01-31,19:48:00,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
147894,2021-01-31,19:20:00,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [105]:
new_data = pd.DataFrame(data = data['IncidentDate'])
new_data

       IncidentDate
0        2020-04-01
1        2020-04-01
2        2020-04-01
3        2020-04-01
4        2020-04-01
...             ...
147890   2021-01-31
147891   2021-01-31
147892   2021-01-31
147893   2021-01-31
147894   2021-01-31

[147895 rows x 1 columns]

In [106]:
data['MainDuty'].value_counts()

Mobile patrol             112431
Foot patrol                 8736
Other                       7214
Custody                     5741
ARV                         3690
Roads policing              3443
PSU/Public order            3339
CID                         1568
Dog handler duty             523
CTSFO                        379
Off duty                     341
AFO                          322
Surveillance                 144
Mounted section duties        24
Name: MainDuty, dtype: int64

In [109]:
new_cols = ['IncidentTime',
            'Incident Location: Street/Highway',
            'Incident Location: Public Transport',
            'Incident Location: Retail Premises',
            'Incident Location: Open ground (e.g. park, car park, field)',
            'Incident Location: Licensed Premises',
            'Incident Location: Sports or Event Stadia',
            'Incident Location: Hospital/A&E (non-mental-health setting)',
            'Incident Location: Mental Health Setting',
            'Incident Location: Police vehicle with prisoner handling cage',
            'Incident Location: Police vehicle without prisoner handling cage',
            'Incident Location: Dwelling',
            'Incident Location: Police station (excluding custody block)',
            'Incident Location: Custody Block',
            'Incident Location: Ambulance',
            'Incident Location: Other',
            'Borough',
            'PrimaryConduct',
            'AssaultedBySubject',
            'Impact Factor: Possesion of a weapon',
            'Impact Factor: Alcohol',
            'Impact Factor: Drugs',
            'Impact Factor: Mental Health',
            'Impact Factor: Prior Knowledge',
            'Impact Factor: Size/Gender/Build',
            'Impact Factor: Acute Behavioural Disorder',
            'Impact Factor: Crowd',
            'Impact Factor: Other',
            'Reason for Force: Protect self',
            'Reason for Force: Protect Public',
            'Reason for Force: Protect Subject',
            'Reason for Force: Protect Other Officers',
            'Reason for Force: Prevent Offence',
            'Reason for Force: Secure Evidence',
            'Reason for Force: Effect Search',
            'Reason for Force: Effect Arrest',
            'Reason for Force: Method of Entry',
            'Reason for Force: Remove Handcuffs',
            'Reason for Force: Prevent Harm',
            'Reason for Force: Prevent Escape',
            'Reason for Force: Other',
            'AFO',
            'ARV',
            'CID',
            'CTSFO',
            'Custody',
            'Dog handler duty',
            'Foot patrol',
            'Mobile patrol',
            'Mounted section duties',
            'Off duty',
            'Other',
            'PSU/Public order',
            'Roads policing',
            'Surveillance',
            'SingleCrewed',
            'TrainedCED',
            'T1 Force',
            'Effective 1',
            'T2 Force',
            'Effective 2',
            'T3 Force',
            'Effective 3',
            'SubjectAge',
            'PhysicalDisability',
            'MentalDisability',
            'SubjectGender: Female',
            'SubjectGender: Male',
            'SubjectGender: Other',
            'SubjectEthnicity: Asian',
            'SubjectEthnicity: Black',
            'SubjectEthnicity: Chinese',
            'SubjectEthnicity: Unknown',
            'SubjectEthnicity: Mixed',
            'SubjectEthnicity: Other',
            'SubjectEthnicity: White',
            'Was Force Needed?']

In [110]:
for i in new_cols:
    new_data[i] = data[i]

In [111]:
new_data

,IncidentDate,IncidentTime,Incident Location: Street/Highway,Incident Location: Public Transport,Incident Location: Retail Premises,"Incident Location: Open ground (e.g. park, car park, field)",Incident Location: Licensed Premises,Incident Location: Sports or Event Stadia,Incident Location: Hospital/A&E (non-mental-health setting),Incident Location: Mental Health Setting,...,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White,Was Force Needed?
0,2020-04-01,00:12:00,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,2020-04-01,01:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,2020-04-01,03:30:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,2020-04-01,04:25:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
4,2020-04-01,04:12:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,2021-01-31,18:00:00,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
147891,2021-01-31,15:20:00,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
147892,2021-01-31,22:00:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
147893,2021-01-31,19:48:00,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
147894,2021-01-31,19:20:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [112]:
for i in new_data.columns:
    print(i)

IncidentDate
IncidentTime
Incident Location: Street/Highway
Incident Location: Public Transport
Incident Location: Retail Premises
Incident Location: Open ground (e.g. park, car park, field)
Incident Location: Licensed Premises
Incident Location: Sports or Event Stadia
Incident Location: Hospital/A&E (non-mental-health setting)
Incident Location: Mental Health Setting
Incident Location: Police vehicle with prisoner handling cage
Incident Location: Police vehicle without prisoner handling cage
Incident Location: Dwelling
Incident Location: Police station (excluding custody block)
Incident Location: Custody Block
Incident Location: Ambulance
Incident Location: Other
Borough
PrimaryConduct
AssaultedBySubject
Impact Factor: Possesion of a weapon
Impact Factor: Alcohol
Impact Factor: Drugs
Impact Factor: Mental Health
Impact Factor: Prior Knowledge
Impact Factor: Size/Gender/Build
Impact Factor: Acute Behavioural Disorder
Impact Factor: Crowd
Impact Factor: Other
Reason for Force: Protect self
Reason for Force: Protect Public
Reason for Force: Protect Subject
Reason for Force: Protect Other Officers
Reason for Force: Prevent Offence
Reason for Force: Secure Evidence
Reason for Force: Effect Search
Reason for Force: Effect Arrest
Reason for Force: Method of Entry
Reason for Force: Remove Handcuffs
Reason for Force: Prevent Harm
Reason for Force: Prevent Escape
Reason for Force: Other
AFO
ARV
CID
CTSFO
Custody
Dog handler duty
Foot patrol
Mobile patrol
Mounted section duties
Off duty
Other
PSU/Public order
Roads policing
Surveillance
SingleCrewed
TrainedCED
T1 Force
Effective 1
T2 Force
Effective 2
T3 Force
Effective 3
SubjectAge
PhysicalDisability
MentalDisability
SubjectGender: Female
SubjectGender: Male
SubjectGender: Other
SubjectEthnicity: Asian
SubjectEthnicity: Black
SubjectEthnicity: Chinese
SubjectEthnicity: Unknown
SubjectEthnicity: Mixed
SubjectEthnicity: Other
SubjectEthnicity: White
Was Force Needed?

In [113]:
# rename some columns
names = {'AFO': 'MainDuty: AFO',
        'ARV': 'MainDuty: ARV',
        'CID': 'MainDuty: CID',
        'CTSFO': 'MainDuty: CTSFO',
        'Custody': 'MainDuty: Custody',
        'Dog handler duty': 'MainDuty: Dog handler duty',
        'Foot patrol': 'MainDuty: Foot patrol',
        'Mobile patrol': 'MainDuty: Mobile patrol',
        'Mounted section duties': 'MainDuty: Mounted section duties',
        'Off duty': 'MainDuty: Off duty',
        'Other': 'MainDuty: Other',
        'PSU/Public order': 'MainDuty: PSU/Public order',
        'Roads policing': 'MainDuty: Roads policing',
        'Surveillance': 'MainDuty: Surveillance',
        }

new_data.rename(columns = names, inplace = True)

In [114]:
for i in new_data.columns:
    print(i)

IncidentDate
IncidentTime
Incident Location: Street/Highway
Incident Location: Public Transport
Incident Location: Retail Premises
Incident Location: Open ground (e.g. park, car park, field)
Incident Location: Licensed Premises
Incident Location: Sports or Event Stadia
Incident Location: Hospital/A&E (non-mental-health setting)
Incident Location: Mental Health Setting
Incident Location: Police vehicle with prisoner handling cage
Incident Location: Police vehicle without prisoner handling cage
Incident Location: Dwelling
Incident Location: Police station (excluding custody block)
Incident Location: Custody Block
Incident Location: Ambulance
Incident Location: Other
Borough
PrimaryConduct
AssaultedBySubject
Impact Factor: Possesion of a weapon
Impact Factor: Alcohol
Impact Factor: Drugs
Impact Factor: Mental Health
Impact Factor: Prior Knowledge
Impact Factor: Size/Gender/Build
Impact Factor: Acute Behavioural Disorder
Impact Factor: Crowd
Impact Factor: Other
Reason for Force: Protect self
Reason for Force: Protect Public
Reason for Force: Protect Subject
Reason for Force: Protect Other Officers
Reason for Force: Prevent Offence
Reason for Force: Secure Evidence
Reason for Force: Effect Search
Reason for Force: Effect Arrest
Reason for Force: Method of Entry
Reason for Force: Remove Handcuffs
Reason for Force: Prevent Harm
Reason for Force: Prevent Escape
Reason for Force: Other
MainDuty: AFO
MainDuty: ARV
MainDuty: CID
MainDuty: CTSFO
MainDuty: Custody
MainDuty: Dog handler duty
MainDuty: Foot patrol
MainDuty: Mobile patrol
MainDuty: Mounted section duties
MainDuty: Off duty
MainDuty: Other
MainDuty: PSU/Public order
MainDuty: Roads policing
MainDuty: Surveillance
SingleCrewed
TrainedCED
T1 Force
Effective 1
T2 Force
Effective 2
T3 Force
Effective 3
SubjectAge
PhysicalDisability
MentalDisability
SubjectGender: Female
SubjectGender: Male
SubjectGender: Other
SubjectEthnicity: Asian
SubjectEthnicity: Black
SubjectEthnicity: Chinese
SubjectEthnicity: Unknown
SubjectEthnicity: Mixed
SubjectEthnicity: Other
SubjectEthnicity: White
Was Force Needed?

In [115]:
new_data

,IncidentDate,IncidentTime,Incident Location: Street/Highway,Incident Location: Public Transport,Incident Location: Retail Premises,"Incident Location: Open ground (e.g. park, car park, field)",Incident Location: Licensed Premises,Incident Location: Sports or Event Stadia,Incident Location: Hospital/A&E (non-mental-health setting),Incident Location: Mental Health Setting,...,SubjectGender: Male,SubjectGender: Other,SubjectEthnicity: Asian,SubjectEthnicity: Black,SubjectEthnicity: Chinese,SubjectEthnicity: Unknown,SubjectEthnicity: Mixed,SubjectEthnicity: Other,SubjectEthnicity: White,Was Force Needed?
0,2020-04-01,00:12:00,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,2020-04-01,01:30:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,2020-04-01,03:30:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,2020-04-01,04:25:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
4,2020-04-01,04:12:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147890,2021-01-31,18:00:00,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
147891,2021-01-31,15:20:00,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
147892,2021-01-31,22:00:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
147893,2021-01-31,19:48:00,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
147894,2021-01-31,19:20:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [116]:
new_data.to_csv('clean_data_v1.csv')